name: Backend

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'

jobs:
 deploy:
   name: Deploy Backend to Render
   runs-on: ubuntu-latest
   if: github.ref == 'refs/heads/main'
   steps:
    - name: Deploy to Production
      uses: JorgeLNJunior/render-deploy@v1.4.7
      with:
        service_id: ${{ secrets.RENDER_BACKEND_SERVICE_ID }}
        api_key: ${{ secrets.RENDER_API_KEY }}
        wait_deploy: true
