name: Frontend CI/CD Pipeline

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'frontend/**'

jobs:
 deploy:
   name: Deploy Frontend to Render
   runs-on: ubuntu-latest
   if: github.ref == 'refs/heads/main'
   steps:
    - name: Deploy to Production
      uses: johnbeynon/render-deploy-action@747373cdb7b9b3f561438e063ee0815b71584f1b
      with:
        service-id: ${{ secrets.RENDER_FRONTEND_SERVICE_ID }}
        api-key: ${{ secrets.RENDER_API_KEY }}
        wait-for-success: true
