name: Frontend CI/CD Pipeline

on:
  push:
    branches: [ main ]
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'frontend/**'

jobs:
 deploy:
   name: Deploy Frontend to Render
   runs-on: ubuntu-latest
   if: github.ref == 'refs/heads/main'
   steps:
     - name: Trigger Render Deploy Hook
       run: curl -X POST "${{ secrets.RENDER_FRONTEND_DEPLOY_HOOK }}"
